In [1]:
import random

In [21]:
random.randrange(0, 10)

6

In [22]:
names = ['Ann', 'Bob', 'Cal', 'Dee', 'Eve', 'Flo', 'Hal', 'Ike']

In [27]:
random.shuffle(names)

In [28]:
names

['Eve', 'Ike', 'Dee', 'Cal', 'Bob', 'Flo', 'Hal', 'Ann']

In [29]:
random.choice(names)

'Dee'

In [32]:
random.sample(names, 4)

['Ann', 'Dee', 'Eve', 'Hal']

In [33]:
squares = []
for x in range(10):
    squares.append(x**2)

In [34]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
squares = [x**2 for x in range(10) if x>5 ]

In [38]:
squares

[36, 49, 64, 81]

In [39]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [2]:
num = sum([i for i in range(0, 101) if i%2==0])

In [3]:
num

2550

In [12]:
def func(num):
    return [i for i in range(1, num+1) if num%i==0]
func(50)

[1, 2, 5, 10, 25, 50]

In [14]:
l = [[1, 2], [3, 4]]
l

[[1, 2], [3, 4]]

In [15]:
l[1][0]

3

In [17]:
employee = {
    '864-20': ['Arm', 'Spartyan'],
    '987-65': ['Vlad', 'Tundyan'],
    '100-01': ['Kiazh', 'Damyan']
}
employee

{'100-01': ['Kiazh', 'Damyan'],
 '864-20': ['Arm', 'Spartyan'],
 '987-65': ['Vlad', 'Tundyan']}

In [18]:
type(employee)

dict

In [19]:
employee['100-01']

['Kiazh', 'Damyan']

In [20]:
days = {'Mo':1, 'Tu':2, 'W':3}

days2 = {'Tu':2, 'Fr':5}

In [21]:
def frequency(itemList):
    'returns frequency of items in itemList'

    counters = {}
    for item in itemList:
        if item in counters: # increment item counter
            counters[item] += 1
        else: # create item counter
            counters[item] = 1
    return counters

grades = [95, 96, 100, 85, 95, 90, 95, 100, 100]
frequency(grades)

{85: 1, 90: 1, 95: 3, 96: 1, 100: 3}

In [26]:
str = "to be or not to be"
freq = [i for i in str if i in str]
freq

['t',
 'o',
 ' ',
 'b',
 'e',
 ' ',
 'o',
 'r',
 ' ',
 'n',
 'o',
 't',
 ' ',
 't',
 'o',
 ' ',
 'b',
 'e']

In [28]:
t = [('a', 10), ('c', 22), ('b', 1)]
t

[('a', 10), ('c', 22), ('b', 1)]

In [29]:
sorted(t)

[('a', 10), ('b', 1), ('c', 22)]